/* ==========================================================================
   Colors
   ========================================================================== */

$color-text: #000;
$color-link: #12384b;
$color-placeholder: #a3a3a3;

$color-primary: #12384b;
$color-secondary: #ff3a49;
$color-third: #ff3a49;

