/* ==========================================================================
   Colors
   ========================================================================== */
// Old
// $color-text: #000;
// $color-link: #00a998;
// $color-placeholder: #a3a3a3;

// $color-primary: #00a998;
// $color-secondary: #ffe135;
// $color-third: #007dfb;

$color-text: #000;
$color-link: #00a998;
$color-placeholder: #a3a3a3;

$color-primary: #6b7a85;
$color-secondary: #ffe135;
$color-third: #007dfb;

