/* ==========================================================================
   Colors
   ========================================================================== */

$color-text: #000;
$color-link: #00a998;
$color-placeholder: #a3a3a3;

$color-primary: #00a998;
$color-secondary: #b1f03e;
$color-third: #007dfb;

