/* ==========================================================================
   Colors
   ========================================================================== */

$color-text: #000;
$color-link: #76848e;
$color-placeholder: #a3a3a3;

$color-primary: #76848e;
$color-secondary: #00d2fd;
$color-third: #00d2fd;

