/* ==========================================================================
   Colors
   ========================================================================== */

$color-text: #000;
$color-link: #b247ae;
$color-placeholder: #a3a3a3;

$color-primary: #b247ae;
$color-secondary: #a1d045;
$color-third: #a1d045;

