/* ==========================================================================
   Colors
   ========================================================================== */

$color-text: #000;
$color-link: #b247ae;
$color-placeholder: #a3a3a3;

$color-primary: #b247ae;
$color-secondary: #fde434;
$color-third: #007dfb;

