/* ==========================================================================
   Forms
   ========================================================================== */

//input[placeholder], [placeholder], *[placeholder] {	color: $color-placeholder; }
::-webkit-input-placeholder { color: $color-placeholder; }
::-moz-placeholder { color: $color-placeholder; opacity: 1 !important; }
:-moz-placeholder { color: $color-placeholder; opacity: 1 !important; }
::-moz-placeholder { color: $color-placeholder; }
:-ms-input-placeholder { color: $color-placeholder; }

