/* ==========================================================================
   Typography
   ========================================================================== */

#lp {
  button, input, select, textarea { color: $color-text; font-family: $font-text; line-height: 1.4; text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -o-font-smoothing: antialiased; }
body { font-size: 1.25rem; font-weight: 300; }

a, button { @include hover_animate(); }

a, a:hover, a:focus { color: $color-link; text-decoration: none; cursor: pointer; outline: none; }

// Colors

h1, h2, h3, h4, h5, h6 { font-family: $font-addl; }

.text-block { @include clearfix(); font-size: .9375rem; line-height: 1.8;

}
}


