/* ==========================================================================
   Variables
   ========================================================================== */

// Fonts
$font-text: 'Roboto', sans-serif;
$font-addl: 'Code Pro LC', sans-serif;

// Pathes
$path-images: "../img";

// Responsive width
$lg-min-width: 1200px;
$lg-max-width: 1199px;

$md-min-width: 992px;
$md-max-width: 991px;

$sm-min-width: 768px;
$sm-max-width: 767px;
